{% block header %}
#ifndef {{ header_base }}_CFG_H
#define {{ header_base }}_CFG_H
{% endblock %}

{% block source %}
{% endblock %}

{% block footer %}
#endif /* {{ header_base }}_CFG_H */
{% endblock %}